// TDesign's background color
body {
  background-color: var(--td-bg-color-page);

  // There is a bug when using Textarea with auto-size, temporary fix is available in index.vue.
}

// Hide scroll bar.
// For Chrome, Safari and Opera
*::-webkit-scrollbar {
  display: none;
}

// For IE, Edge and Firefox
* {
  -ms-overflow-style: none; // IE and Edge
  scrollbar-width: none; // Firefox
}

// Fix TDesign's incorrect width of sidebar when collapsed.
aside:has(.t-is-collapsed) {
  width: 64px !important;
}
